n8n/workflows/reminders-15min.json
{
  "name": "Reminders Every 15 Minutes",
  "meta": {
    "template": "skeleton",
    "description": "Cron every 15 minutes -> fetch due reminders -> send -> audit, with retry/alert/DLQ"
  },
  "nodes": [
    {
      "id": "Cron_15m",
      "name": "Cron: Every 15 Minutes",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [220, 260],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 15,
              "unit": "minutes"
            }
          ]
        }
      }
    },
    {
      "id": "HTTP_GetDue",
      "name": "API: Get Due Reminders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 260],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "GET",
        "url": "={{$env.REMINDER_API_BASE_URL}}/v1/reminders/due?window=15m",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "name": "REMINDER_API_CREDENTIAL"
        }
      }
    },
    {
      "id": "IF_GetDueSuccess",
      "name": "IF: Due fetch success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [700, 260],
      "parameters": {
        "conditions": {
          "number": [
            { "value1": "={{$json.statusCode || 500}}", "operation": "smallerEqual", "value2": 299 }
          ]
        }
      }
    },
    {
      "id": "Split_Due",
      "name": "Split: Due Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [940, 200],
      "parameters": {
        "batchSize": 1
      }
    },
    {
      "id": "HTTP_SendReminder",
      "name": "API: Send Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1180, 200],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "={{$env.REMINDER_API_BASE_URL}}/v1/reminders/send",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{$json}}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "name": "REMINDER_API_CREDENTIAL"
        }
      }
    },
    {
      "id": "IF_SendSuccess",
      "name": "IF: Send success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1410, 200],
      "parameters": {
        "conditions": {
          "number": [
            { "value1": "={{$json.statusCode || 500}}", "operation": "smallerEqual", "value2": 299 }
          ]
        }
      }
    },
    {
      "id": "HTTP_Audit",
      "name": "Audit: Reminder Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1640, 120],
      "parameters": {
        "method": "POST",
        "url": "={{$env.AUDIT_API_BASE_URL}}/v1/events",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\"event\":\"reminder_sent\",\"timestamp\":\"{{$now}}\",\"payload\":{{$json}}}"
      },
      "credentials": {
        "httpHeaderAuth": {
          "name": "AUDIT_API_CREDENTIAL"
        }
      }
    },
    {
      "id": "Wait_Retry",
      "name": "Retry Delay 30s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1640, 280],
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      }
    },
    {
      "id": "HTTP_Retry",
      "name": "API Retry: Send Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1880, 280],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "={{$env.REMINDER_API_BASE_URL}}/v1/reminders/send",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{$json}}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "name": "REMINDER_API_CREDENTIAL"
        }
      }
    },
    {
      "id": "IF_RetrySuccess",
      "name": "IF: Retry success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2110, 280],
      "parameters": {
        "conditions": {
          "number": [
            { "value1": "={{$json.statusCode || 500}}", "operation": "smallerEqual", "value2": 299 }
          ]
        }
      }
    },
    {
      "id": "HTTP_Alert",
      "name": "Alert: Reminder Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2340, 360],
      "parameters": {
        "method": "POST",
        "url": "={{$env.ALERT_API_BASE_URL}}/v1/alerts",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\"workflow\":\"reminders-15min\",\"message\":\"Reminder send failed after retry\",\"payload\":{{$json}}}"
      },
      "credentials": {
        "httpHeaderAuth": {
          "name": "ALERT_API_CREDENTIAL"
        }
      }
    },
    {
      "id": "HTTP_DLQ",
      "name": "DLQ: Reminder Payload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2560, 360],
      "parameters": {
        "method": "POST",
        "url": "={{$env.DLQ_API_BASE_URL}}/v1/dlq",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={\"workflow\":\"reminders-15min\",\"payload\":{{$json}},\"failedAt\":\"{{$now}}\"}"
      },
      "credentials": {
        "httpHeaderAuth": {
          "name": "DLQ_API_CREDENTIAL"
        }
      }
    }
  ],
  "connections": {
    "Cron: Every 15 Minutes": {
      "main": [[{ "node": "API: Get Due Reminders", "type": "main", "index": 0 }]]
    },
    "API: Get Due Reminders": {
      "main": [[{ "node": "IF: Due fetch success?", "type": "main", "index": 0 }]]
    },
    "IF: Due fetch success?": {
      "main": [
        [{ "node": "Split: Due Items", "type": "main", "index": 0 }],
        [{ "node": "Alert: Reminder Failure", "type": "main", "index": 0 }]
      ]
    },
    "Split: Due Items": {
      "main": [[{ "node": "API: Send Reminder", "type": "main", "index": 0 }], []]
    },
    "API: Send Reminder": {
      "main": [[{ "node": "IF: Send success?", "type": "main", "index": 0 }]]
    },
    "IF: Send success?": {
      "main": [
        [
          { "node": "Audit: Reminder Sent", "type": "main", "index": 0 },
          { "node": "Split: Due Items", "type": "main", "index": 0 }
        ],
        [{ "node": "Retry Delay 30s", "type": "main", "index": 0 }]
      ]
    },
    "Retry Delay 30s": {
      "main": [[{ "node": "API Retry: Send Reminder", "type": "main", "index": 0 }]]
    },
    "API Retry: Send Reminder": {
      "main": [[{ "node": "IF: Retry success?", "type": "main", "index": 0 }]]
    },
    "IF: Retry success?": {
      "main": [
        [{ "node": "Split: Due Items", "type": "main", "index": 0 }],
        [{ "node": "Alert: Reminder Failure", "type": "main", "index": 0 }]
      ]
    },
    "Alert: Reminder Failure": {
      "main": [[{ "node": "DLQ: Reminder Payload", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "UTC"
  },
  "pinData": {},
  "versionId": "00000000-0000-0000-0000-000000000002"
}
